@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* font weight:

thin 100
extralight 200
light 300
regular 400
Medium 500
semibold 600
bold 700
extrabold 800
Black 900 */


* {
/* padding:0;
margin:0; */
box-sizing:border-box;
font-family: "Work Sans", serif;
/* font-weight: 400; */
}

body {
/* max-width: ; */
margin : 0 auto;
}

/*! shared style start */

html{
  font-size: 10px;
}

.display-flex{
  display: flex;
}

.text-gray{
  /* dark-02 */
  color: #424242; 
}

.text-light-gray{
  /* dark-03 */
  color: #727272;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}


.description-regular-font{
  font-size: 1.6rem;
  font-weight: 400;
  color: #727272;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main>section{
  margin-top: 130px;
}

.section-title{
  font-weight: bold;
  font-size: 4.5rem;
}

/*! shared style end*/

/* ------------------------------- */

/*! header style start */

/*? navbar related style */
.navbar{
  justify-content: space-between;
}

.nav-links{
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  font-size: 1.8rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-item>a{
  text-decoration: none;
}

.brand{
  font-weight: 700;
  font-size: 4.5rem;
}

/*! banner section style */
.banner, .navbar, footer{
  max-width: 1440px;
  margin: 0 auto;
}

/*? banner section style */

.banner-content{
  max-width: 850px; /*figma width= 861px*/
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-size: 700;
  font-size: 6.4rem;
}

/* .banner-content p{
  font-size: 1.6rem;
  font-weight: 400;
} */

.btn-primary{
  background-color: #ff900E;
  color: white;
  border-radius: 8px;
  padding: 20px 25px;
  font-size: 2rem;
  font-weight: 600;
  border: none;
}

.banner-image-container img{
  width: 100%;
}


/* *header style end*/

/*! main section start */

/*? Team section start */

.teams{
  align-items: center;
  gap: 73px;
}

.team-image-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}

.our-features{
  max-width: 530px;
}

.quick{
  font-weight: 500;
}

.of-our{
  color: #131313;
  font-weight: bold;
}

.feat{
  color: #ff900E; 
}

/*! Feature section related styles */
#feature-section-title{
  border-left: 5px solid #ff900E;
  padding-left: 21px;
}

.feature-card{
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.feature-title{
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}

.features{
  display: flex;
  gap: 100px;
}

#experience-badge{
  padding: 45px 42px;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: -100px;
  margin-left: -100px;
}

#experience-year{
  font-size: 6.4rem;
}

/* .featured-architect{
  width: 100%;
} */

/*! Some Facts Section */
.fact-description{
  max-width: 580px;
  padding: 30px;
}

.facts-container{
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);

  justify-items: center;

}

.fact-card{
  border: 1px solid #ff900E;
  width: 241px;
  height: 241px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  
}

.fact-number{
  font-size: 4.5rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fact-name{
  font-size: 2rem;
  font-weight: 600;
  margin: 5px 35px 0px;
  color:#727272;
}


/*! Sponsor Related Style */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}

.sponsor-companies img{
  filter: grayscale(100%);
}

/*! Footer Section */
footer{
  /* max-width: 1440px; */
  /* padding: 39px auto; */
  text-align: center;
  background-color: #FFF4E7;
  height: 100px;
  margin: 100px auto;
  display:flex;
  justify-content: center;
  align-items: center;
}



/* Responsive and Media Query */
@media screen and (max-width : 576px) {
  .navbar, 
  .nav-links,
  .teams,
  .features{
    flex-direction: column;
  }
  .team-image-container, 
  .facts-container,
  .sponsor-companies{
    grid-template-columns: repeat(1,1fr);
  }

  .facts-container{
    gap: 24px;
    justify-items : center;
  }
  
  .our-features{
    /* width: 90vw; */
    padding: 10px;
  }
  .brand{
    text-align: center;
  }
  .some-facts, .fact-description{
    text-align: center;
    margin: 40px auto;
  }
  .sponsor-companies{
    justify-items: center;
    gap: 50px;
  }
  #experience-badge{
    /* margin-top: 20px;
    margin-left: 20px; */
    /* margin: 20px 20px; */
    margin: 20px auto;
    display: grid;
    justify-items: center;
  }
  .featured-architect img{
    width: 100%;
  }
  footer{
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/* Medium Size devices */

@media screen and (min-width : 577px) and (max-width : 992px) {
  .teams,
  .features{
    flex-direction: column;
  }
  .some-facts, .fact-description{
    text-align: center;
    margin: 40px auto;
  }
  .sponsor-companies, .facts-container{
    grid-template-columns: repeat(2,1fr);
    gap:50px;
    justify-items: center;
  }

  #experience-badge{
    /* margin-top: 20px;
    margin-left: 20px; */
    /* margin: 20px 20px; */
    margin: 20px auto;
    display: grid;
    justify-items: center;
  }
  .featured-architect img{
    width: 100%;
  }
  footer{
    margin-top: 50px;
    margin-bottom: 40px;
  }

}